.product_listing {
    position: relative;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #f7f7f7;
    cursor: pointer;
}
.product_listing h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 8px 0px 4px;
    font-weight: 500;
    font-family: "PoppinsRegular";
}
.product_listing .prdct_img {
    padding: 8px;
}
.product_listing img {
    height: 280px;
    object-fit: contain;
    width: 100%;
}
.related_card_text {
    width: 100%;
}
.related_card_text .btn {
    font-size: 18px;
    height: 100%;
    padding: 7px 0px;
    width: 25%;
    justify-content: center;
    display: flex;
    background-color: #fff;
    align-items: center;
    border-radius: 0%;
    border: 1px solid #d60638;
}
.related_card_text .btn:focus {
    background-color: #d60638;
    color: #fff;
}
.related_card_text .price_section {
    font-size: 16px;
    /* background: hsl(348.79deg 57.22% 63.33%); */
    margin-bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "PoppinsMedium";
}
.related_card_text .price_section p {
    margin-bottom: 0px;
    padding: 4px 10px;
    width: 50%;
    text-align: center;
    border: 1px solid #ef3030;
    background-color: #fff;
    color: #d60638;
}
