.banner_section {
    position: relative;
}
.top_trending {
    padding: 2rem 0rem;
    h2 {
        color: #184375;
        margin-bottom: 0;
        font-size: 24px;
        font-family: "SignikaBold";
    }
    p {
        color: #184375;
        margin-bottom: 0;
        font-size: 16px;
        font-family: "SignikaMedium";
    }
    .thumbnails {
        justify-content: center;
        img {
            width: 200px;
            height: 100px;
            object-fit: cover;
        }
    }
}
.what_we_do {
    height: 600px;
    min-height: 600px;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #6ca9ef;
    justify-content: center;
    margin: 0 1rem;
    border-radius: 20px;
    h3{
        color: #fff;
        margin-bottom: 2rem;
        font-size: 24px;
        text-align: center;
        font-family: "SignikaBold";
    }
    .carousel-item {
        border-radius: 20px;
        img {
            border-radius: 20px 0px 0px 20px;
            height: 100%;
        }
        .what_right {
            background: #fff;
            padding: 3rem;
            border-radius: 0px 20px 20px 0px;
            h2{
                color: #184375;
                font-size: 18px;
                  font-family: "SignikaSemiBold";
                  &:after{
                    content:'--';
                    margin-left: 5px;
                  }
            }
            p {
                color: #184375;
                display: flex;
                align-items: baseline;
                margin: 1rem 0;
                span {
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-family: "SignikaRegular";
                }
            }
            .reviews_wrapper {
                padding: 1rem 0;
                .rating {
                    display: flex;
                    align-items: center;
                    > i {
                        padding-right: 5px;
                        color: #184375;
                    }
                }
                .comments {
                    p {
                        > .btn {
                            color: #333;
                            font-size: 14px;
                            padding: 0;
                            font-family: "SignikaMedium";
                        }
                    }
                    .collapse {
                        color: #000;
                    }
                }
            }
        }
    }
}
