* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "PoppinsLight";
  src: url("./components/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("./components/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("./components/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./components/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("./components/fonts/Poppins-Bold.ttf");
}
ul {
  list-style: none;
  margin-bottom: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.error_page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error_page div {
  text-align: center;
}
.error_page h2 {
  font-size: 3rem;
  font-family: "PoppinsBold";
  text-align: center;
}
.error_page .svg {
  width: 3rem;
  height: 3rem;
}
.error_page p {
  font-size: 1.5rem;
  text-align: center;
  font-family: "PoppinsRegular";
}
